In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import requests
import json

In [3]:
# from defipulse.com
api_key = 'private key'

### Total Value Locked (TVL) in DeFi Lending Category

In [4]:
parameters = {'api-key': api_key, 'category': 'lending'}
url = 'https://data-api.defipulse.com/api/v1/defipulse/api/GetHistory?'

In [5]:
r1 = requests.get(url,params=parameters)

In [6]:
r1.status_code == requests.codes.ok

True

In [7]:
resp = r1.json()

In [8]:
tvl_all = pd.DataFrame.from_dict(resp)
tvl_all.head()

,timestamp,tvlUSD,tvlETH,BTC,ETH,DAI
0,1602565200,1.101602e+10,2.930005e+07,146826.914950,8.384441e+06,8.636783e+08
1,1602547200,1.108794e+10,2.923715e+07,146719.351061,8.380397e+06,8.636718e+08
2,1602460800,1.091963e+10,2.964042e+07,144087.832614,8.483471e+06,8.592992e+08
3,1602374400,1.073252e+10,2.941901e+07,142642.913861,8.338526e+06,8.474533e+08
4,1602288000,1.065112e+10,2.959170e+07,141683.019587,8.228843e+06,8.486329e+08

In [9]:
tvl_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1170 entries, 0 to 1169
Data columns (total 6 columns):
timestamp    1170 non-null object
tvlUSD       1170 non-null float64
tvlETH       1170 non-null float64
BTC          1170 non-null float64
ETH          1170 non-null float64
DAI          1170 non-null float64
dtypes: float64(5), object(1)
memory usage: 55.0+ KB

In [10]:
# converting unix epoch to timestamp
tvl_all['timestamp'] = pd.to_datetime(tvl_all['timestamp'],unit='s')

In [11]:
# converting timestamp to date
tvl_all['timestamp'] = tvl_all['timestamp'].dt.date

In [12]:
#there may be more than one timestamp associated with a date. Dropping duplicates
tvl_all.drop_duplicates(subset='timestamp',keep='first',inplace=True)

### TVL in Compound

In [13]:
comp_parameters = {'api-key': api_key, 'project': 'compound'}
url = 'https://data-api.defipulse.com/api/v1/defipulse/api/GetHistory?'

In [14]:
r2 = requests.get(url,params=comp_parameters)

In [15]:
r2.status_code == requests.codes.ok

True

In [16]:
resp2 = r2.json()

In [17]:
tvl_comp = pd.DataFrame.from_dict(resp2)
tvl_comp.head()

,timestamp,tvlUSD,tvlETH,BTC,ETH,DAI
0,1602565200,844013679,2.214155e+06,4430.741082,818488.345263,2.790619e+08
1,1602547200,846216521,2.200766e+06,4419.491380,819332.258795,2.786128e+08
2,1602460800,831133853,2.224960e+06,4187.815062,816567.553204,2.775619e+08
3,1602374400,825401893,2.230454e+06,3407.161035,802717.923704,2.710508e+08
4,1602288000,818467324,2.242253e+06,2838.944538,787701.967270,2.715240e+08

In [18]:
tvl_comp['timestamp'] = pd.to_datetime(tvl_comp['timestamp'],unit='s')

In [19]:
tvl_comp['timestamp'] = tvl_comp['timestamp'].dt.date

In [20]:
tvl_comp.drop_duplicates(subset='timestamp',keep='first',inplace=True)

### TVL in Aave

In [21]:
lend_parameters = {'api-key': api_key, 'project': 'aave'}
url = 'https://data-api.defipulse.com/api/v1/defipulse/api/GetHistory?'

In [22]:
r3 = requests.get(url,params=lend_parameters)

In [23]:
r3.status_code == requests.codes.ok

True

In [24]:
resp3 = r3.json()

In [25]:
tvl_lend = pd.DataFrame.from_dict(resp3)
tvl_lend.head()

,timestamp,tvlUSD,tvlETH,BTC,ETH,DAI
0,1602565200,1155327363,3.030844e+06,14624.195471,324194.155522,9.101043e+06
1,1602547200,1153925270,3.001028e+06,14222.619372,325362.952135,9.183987e+06
2,1602460800,1132386846,3.031420e+06,15436.955809,304956.790832,7.263111e+06
3,1602374400,1137047574,3.072603e+06,16269.252777,286170.829958,1.020432e+07
4,1602288000,1181711359,3.237388e+06,16348.918887,281651.608863,9.083364e+06

In [26]:
tvl_lend['timestamp'] = pd.to_datetime(tvl_lend['timestamp'],unit='s')

In [27]:
tvl_lend['timestamp'] = tvl_lend['timestamp'].dt.date

In [28]:
tvl_lend.drop_duplicates(subset='timestamp',keep='first',inplace=True)

### Joining TVL dataframes

In [29]:
tvl_all_comp = pd.merge(tvl_all, tvl_comp,how='left',on='timestamp',suffixes=('_all','_comp'))

In [30]:
df_tvl = pd.merge(tvl_all_comp, tvl_lend,how='left',on='timestamp')

In [31]:
df_tvl.head()

,timestamp,tvlUSD_all,tvlETH_all,BTC_all,ETH_all,DAI_all,tvlUSD_comp,tvlETH_comp,BTC_comp,ETH_comp,DAI_comp,tvlUSD,tvlETH,BTC,ETH,DAI
0,2020-10-13,1.101602e+10,2.930005e+07,146826.914950,8.384441e+06,8.636783e+08,844013679.0,2.214155e+06,4430.741082,818488.345263,2.790619e+08,1.155327e+09,3.030844e+06,14624.195471,324194.155522,9.101043e+06
1,2020-10-12,1.091963e+10,2.964042e+07,144087.832614,8.483471e+06,8.592992e+08,831133853.0,2.224960e+06,4187.815062,816567.553204,2.775619e+08,1.132387e+09,3.031420e+06,15436.955809,304956.790832,7.263111e+06
2,2020-10-11,1.073252e+10,2.941901e+07,142642.913861,8.338526e+06,8.474533e+08,825401893.0,2.230454e+06,3407.161035,802717.923704,2.710508e+08,1.137048e+09,3.072603e+06,16269.252777,286170.829958,1.020432e+07
3,2020-10-10,1.065112e+10,2.959170e+07,141683.019587,8.228843e+06,8.486329e+08,818467324.0,2.242253e+06,2838.944538,787701.967270,2.715240e+08,1.181711e+09,3.237388e+06,16348.918887,281651.608863,9.083364e+06
4,2020-10-09,1.048760e+10,3.029239e+07,140647.909789,8.268605e+06,8.435103e+08,826030824.0,2.352493e+06,2613.845646,793002.717674,2.701746e+08,1.184257e+09,3.372703e+06,17040.686564,288755.452865,1.189098e+07

In [32]:
#df_tvl.to_csv('tvl_data.csv')

### Volume by health score

In [33]:
# not working properly
url = 'https://api.compound.finance/api/v2/account'
headers = {'Content-Type': 'application/json','Accept': 'application/json'}

In [34]:
compound_params = {
  "addresses": [], # returns all accounts if empty or not included
  "block_number": 0, # returns latest if given 0
  "max_health": {"value":"2"},
  "min_borrow_value_in_eth":{"value":"0.002"},
  "page_number": 1,
  "page_size": 20
}

In [35]:
response = requests.get(url, headers=headers)

In [36]:
response.status_code == requests.codes.ok

True

In [37]:
response.json()

{'accounts': [{'address': '0x29827b3cfb54393e63fb15be2908c4b88b0dd98c',
   'block_updated': None,
   'health': None,
   'tokens': [{'address': '0x39aa39c021dfbae8fac545936693ac917d5e7563',
     'borrow_balance_underlying': {'value': '0'},
     'lifetime_borrow_interest_accrued': {'value': '0'},
     'lifetime_supply_interest_accrued': {'value': '0.0428067372237883'},
     'safe_withdraw_amount_underlying': {'value': '3.088618737223788'},
     'supply_balance_underlying': {'value': '3.088618737223788'},
     'symbol': 'cUSDC'}],
   'total_borrow_value_in_eth': {'value': '0'},
   'total_collateral_value_in_eth': {'value': '0.006020151666353919101486342135'}},
  {'address': '0x2986f6752fb176485eb1cab63e5968f39989d64d',
   'block_updated': None,
   'health': None,
   'tokens': [{'address': '0x4ddc2d193948926d02f9b1fe9e1daa0718270ed5',
     'borrow_balance_underlying': {'value': '0'},
     'lifetime_borrow_interest_accrued': {'value': '0'},
     'lifetime_supply_interest_accrued': {'value': '0.000000019423078946339'},
     'safe_withdraw_amount_underlying': {'value': '0.000026456357400191462'},
     'supply_balance_underlying': {'value': '0.000026456357400191462'},
     'symbol': 'cETH'},
    {'address': '0x5d3a536e4d6dbd6114cc1ead35777bab948e3643',
     'borrow_balance_underlying': {'value': '0.0'},
     'lifetime_borrow_interest_accrued': {'value': '0.000080910251443002'},
     'lifetime_supply_interest_accrued': {'value': '0.0'},
     'safe_withdraw_amount_underlying': {'value': '0.0'},
     'supply_balance_underlying': {'value': '0.0'},
     'symbol': 'cDAI'}],
   'total_borrow_value_in_eth': {'value': '0.000000000000000000000000000000000000'},
   'total_collateral_value_in_eth': {'value': '0.00001984226805014359594350901100'}},
  {'address': '0x29890e319f2a7e78a7a6a2aa8bf67fa1120173a1',
   'block_updated': None,
   'health': None,
   'tokens': [{'address': '0x6c8c6b02e7b2be14d4fa6022dfd6d75921d90e4e',
     'borrow_balance_underlying': {'value': '0'},
     'lifetime_borrow_interest_accrued': {'value': '0'},
     'lifetime_supply_interest_accrued': {'value': '0.52026581064303'},
     'safe_withdraw_amount_underlying': {'value': '41.52026581066862'},
     'supply_balance_underlying': {'value': '41.52026581066862'},
     'symbol': 'cBAT'},
    {'address': '0x4ddc2d193948926d02f9b1fe9e1daa0718270ed5',
     'borrow_balance_underlying': {'value': '0'},
     'lifetime_borrow_interest_accrued': {'value': '0'},
     'lifetime_supply_interest_accrued': {'value': '0.000008438364243243'},
     'safe_withdraw_amount_underlying': {'value': '0.011206804253504933'},
     'supply_balance_underlying': {'value': '0.011206804253504933'},
     'symbol': 'cETH'},
    {'address': '0x5d3a536e4d6dbd6114cc1ead35777bab948e3643',
     'borrow_balance_underlying': {'value': '0.0'},
     'lifetime_borrow_interest_accrued': {'value': '0.000014695452564023'},
     'lifetime_supply_interest_accrued': {'value': '0.232533083721808'},
     'safe_withdraw_amount_underlying': {'value': '7.237796868269244'},
     'supply_balance_underlying': {'value': '7.237796868269244'},
     'symbol': 'cDAI'},
    {'address': '0xf5dce57282a584d2746faf1593d3121fcac444dc',
     'borrow_balance_underlying': {'value': '0.0'},
     'lifetime_borrow_interest_accrued': {'value': '0.000004119144858092'},
     'lifetime_supply_interest_accrued': {'value': '0.0129973635025499'},
     'safe_withdraw_amount_underlying': {'value': '0.8659932443576918'},
     'supply_balance_underlying': {'value': '0.8659932443576918'},
     'symbol': 'cSAI'}],
   'total_borrow_value_in_eth': {'value': '0.000000000000000000000000000000000000'},
   'total_collateral_value_in_eth': {'value': '0.03691867544256822608056945500'}},
  {'address': '0x2989d52d02689d773c8248b1c7b83d35846bfbad',
   'block_updated': None,
   'health': None,
   'tokens': [{'address': '0x6c8c6b02e7b2be14d4fa6022dfd6d75921d90e4e',
     'borrow_balance_underlying': {'value': '0'},
     'lifetime_borrow_interest_accrued': {'value': '0'},
     'lifetime_supply_interest_accrued': {'value': '6.798312667434437'},
     'safe_withdraw_amount_underlying': {'value': '0.0'},
     'supply_balance_underlying': {'value': '0.0'},
     'symbol': 'cBAT'},
    {'address': '0x5d3a536e4d6dbd6114cc1ead35777bab948e3643',
     'borrow_balance_underlying': {'value': '0'},
     'lifetime_borrow_interest_accrued': {'value': '0'},
     'lifetime_supply_interest_accrued': {'value': '5.1466869748998'},
     'safe_withdraw_amount_underlying': {'value': '632.2501093604831'},
     'supply_balance_underlying': {'value': '632.2501093604831'},
     'symbol': 'cDAI'}],
   'total_borrow_value_in_eth': {'value': '0000000'},
   'total_collateral_value_in_eth': {'value': '0000000'}},
  {'address': '0x298a4ac564836d150db49db5fccf06cb86d804b2',
   'block_updated': None,
   'health': None,
   'tokens': [{'address': '0x5d3a536e4d6dbd6114cc1ead35777bab948e3643',
     'borrow_balance_underlying': {'value': '0'},
     'lifetime_borrow_interest_accrued': {'value': '0'},
     'lifetime_supply_interest_accrued': {'value': '0.80203765756544'},
     'safe_withdraw_amount_underlying': {'value': '62.03257378614775'},
     'supply_balance_underlying': {'value': '62.03257378614775'},
     'symbol': 'cDAI'}],
   'total_borrow_value_in_eth': {'value': '0000000'},
   'total_collateral_value_in_eth': {'value': '0000000'}},
  {'address': '0x298fc60034a37578ccf6d91306bd2af319e5bebb',
   'block_updated': None,
   'health': None,
   'tokens': [{'address': '0x5d3a536e4d6dbd6114cc1ead35777bab948e3643',
     'borrow_balance_underlying': {'value': '0'},
     'lifetime_borrow_interest_accrued': {'value': '0'},
     'lifetime_supply_interest_accrued': {'value': '2.04789679066217'},
     'safe_withdraw_amount_underlying': {'value': '225.35735869576217'},
     'supply_balance_underlying': {'value': '225.35735869576217'},
     'symbol': 'cDAI'}],
   'total_borrow_value_in_eth': {'value': '0000000'},
   'total_collateral_value_in_eth': {'value': '0000000'}},
  {'address': '0x298fcc75a303a58f589e3ac0993a9f302363ae20',
   'block_updated': None,
   'health': None,
   'tokens': [{'address': '0x5d3a536e4d6dbd6114cc1ead35777bab948e3643',
     'borrow_balance_underlying': {'value': '0'},
     'lifetime_borrow_interest_accrued': {'value': '0'},
     'lifetime_supply_interest_accrued': {'value': '0.0521823525371406'},
     'safe_withdraw_amount_underlying': {'value': '2.3029415392588106'},
     'supply_balance_underlying': {'value': '2.3029415392588106'},
     'symbol': 'cDAI'}],
   'total_borrow_value_in_eth': {'value': '0000000'},
   'total_collateral_value_in_eth': {'value': '0000000'}},
  {'address': '0x298fcf259fb03db1d44ac7cfbd5af5c9891a5077',
   'block_updated': None,
   'health': None,
   'tokens': [{'address': '0x39aa39c021dfbae8fac545936693ac917d5e7563',
     'borrow_balance_underlying': {'value': '0'},
     'lifetime_borrow_interest_accrued': {'value': '0'},
     'lifetime_supply_interest_accrued': {'value': '0.0000113840756425776777'},
     'safe_withdraw_amount_underlying': {'value': '0.0000009113724496321537'},
     'supply_balance_underlying': {'value': '0.0000009113724496321537'},
     'symbol': 'cUSDC'}],
   'total_borrow_value_in_eth': {'value': '0'},
   'total_collateral_value_in_eth': {'value': '0.000000001776392892135889244596023241'}},
  {'address': '0x299122d7e7e98758caf676d1886275b441c11e32',
   'block_updated': None,
   'health': None,
   'tokens': [{'address': '0x4ddc2d193948926d02f9b1fe9e1daa0718270ed5',
     'borrow_balance_underlying': {'value': '0'},
     'lifetime_borrow_interest_accrued': {'value': '0'},
     'lifetime_supply_interest_accrued': {'value': '0.00004164165119048'},
     'safe_withdraw_amount_underlying': {'value': '0.07797945658404584'},
     'supply_balance_underlying': {'value': '0.07797945658404584'},
     'symbol': 'cETH'}],
   'total_borrow_value_in_eth': {'value': '0000000'},
   'total_collateral_value_in_eth': {'value': '0000000'}},
  {'address': '0x29915eb4c802298df27ada1e392049d0a507c639',
   'block_updated': None,
   'health': None,
   'tokens': [{'address': '0x39aa39c021dfbae8fac545936693ac917d5e7563',
     'borrow_balance_underlying': {'value': '0'},
     'lifetime_borrow_interest_accrued': {'value': '0'},
     'lifetime_supply_interest_accrued': {'value': '0.29831146399275'},
     'safe_withdraw_amount_underlying': {'value': '141.4289745221445'},
     'supply_balance_underlying': {'value': '141.4289745221445'},
     'symbol': 'cUSDC'}],
   'total_borrow_value_in_eth': {'value': '0000000'},
   'total_collateral_value_in_eth': {'value': '0000000'}}],
 'error': None,
 'pagination_summary': {'page_number': 1,
  'page_size': 10,
  'total_entries': 73908,
  'total_pages': 7391},
 'request': {'addresses': [],
  'block_number': 0,
  'block_timestamp': 0,
  'max_health': None,
  'min_borrow_value_in_eth': None,
  'network': 'mainnet',
  'page_number': 1,
  'page_size': 10}}